  <div class="new-article">
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>
    <p>
    <%= f.submit 'Create Book' %>
    </p>
    <% end %>
  </div>